webdriver-manager
undetected-chromedriver
pyotp
pycryptodome
thefirstock
kiteconnect
pydantic
pya3
firebase-admin
loguru
requests
python-dotenv
pendulum
fastapi
reportlab
psutil
aiohttp
telethon
openpyxl
nest_asyncio
pytest
pytest-mock
pytest-asyncio
pandas
numpy

